.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata
/template.pdf
/template.tex
/comment.cut
/.luarc.json

.aux
.bbl
.log

./template.blg
./template.log
./template.bbl
./pnasresearcharticle.sty
./pnas-new.cls
./pnas-new.bst
./jabbrv.sty
./jabbrv-ltwa-en.ldf
./jabbrv-ltwa-all.ldf